@page
@model SaleUI2.Pages.InventoryIndexModel
@{
    ViewData["Title"] = "Inventory";
}

<br />
<br />
<div class="col-lg-6">
    <div class="input-group">
        <input type="text" name="q" id="q" class="form-control" placeholder="Search for product...">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button" onclick="window.location='/ProductIndex?handler=search&q=' + $('#q').val()" asp-page-handler="Search">Go!</button>
        </span>
    </div>
</div>
<br />

@if (!String.IsNullOrEmpty(Model.ConfirmMessage))
{
    <br />
    <div class="alert alert-success" role="alert">
        @Model.ConfirmMessage
    </div>
}

@if (Model.PageInventories?.Any() == true)
{
    @*@Html.Partial("_AllProducts", Model)*@
    @Html.Partial("_AllInventoryPaged", Model.PageInventories)
}
else if (Model.Inventory != null)
{
    @Html.Partial("_Inventory", Model.Inventory)
}


