@page
@model SaleUI2.Pages.ProductIndexModel
@{
    ViewData["Title"] = "ProductIndex";
}
<br>
<div class="col-lg-6">
    <div class="input-group">
        <input type="text" name="q" id="q" class="form-control" placeholder="Search for...">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button" onclick="window.location='/ProductIndex?handler=search&q=' + $('#q').val()" asp-page-handler="Search">Go!</button>
        </span>
    </div>
</div>
<br>

@if (Model.PageProducts?.Any() == true)
{
    @*@Html.Partial("_AllProducts", Model)*@
    @Html.Partial("_AllProductsPaged", Model.PageProducts)
}
else if (Model.Product != null)
{
    @Html.Partial("_Product", Model.Product)
}



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
